{% extends "base.html" %}

{% block title %}
    Add User
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light-grey text-black">
        <div class="col-sm-8 p-1">
            <form method="post">

                {{ form.csrf_token }}
                {{ render_field_no_break(form.username) }}<br>
                {{ render_field_no_break(form.email) }}<br>
                {{ render_field_no_break(form.level) }}<br>

                <input type="submit" value="Submit" class="btn-success"
                       onclick="this.form.submit(); this.disabled = true; this.value = 'Submitting...';">

            </form>
        </div>
    </div>
{% endblock %}